<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
    
        var myapp=angular.module("myapp",[]);
        myapp.controller("mycontrol", function($scope){
            
            $scope.kutu="1234";
            $scope.eylem=function() {
                alert($scope.kutu);
            }
            $scope.eylem=function(a) {
                alert(a); 
            }

        });

    </script>
</head>
<body ng-app="myapp" ng-controller="mycontrol">

    <input type="text" ng-model="kutu">
    <button ng-click="eylem()">değeri al</button>
    <button ng-click="eylem(kutu)">değeri al 2</button>
    
</body>
</html>